# radiation requirements
# Usage: pip install -r requirements.txt

# Base ------------------------------------------------------------------------
matplotlib>=3.3
numpy>=1.23.5
scipy>=1.4.1

# Logging ---------------------------------------------------------------------


# Plotting --------------------------------------------------------------------


# Export ----------------------------------------------------------------------


# Deploy ----------------------------------------------------------------------


# Extras ----------------------------------------------------------------------

