# radiation requirements
# Usage: pip install -r requirements.txt

# Base ------------------------------------------------------------------------
numpy
scipy
pyqt5
pyqtchart

# Logging ---------------------------------------------------------------------


# Plotting --------------------------------------------------------------------
matplotlib

# Export ----------------------------------------------------------------------


# Deploy ----------------------------------------------------------------------


# Extras ----------------------------------------------------------------------

